section#diet
	.wrap
		.headline.gird
			h1 <strong>дієта</strong>
			p Солодкі добавки і зручна їжа швидкого приготування у багатьох випадках виглядають як чудова ідея, однак саме такий раціон може сильно шкодити нашому імунітету. Більше того, деякі продукти, фактично, спричиняють розвиток поганих бактерій та вірусів у нашому організмі. У той час, як інші продукти, навпаки, захищають від хвороб. Наших «лікарняних днів» буде значно менше, коли ми навчимося розрізняти шкідливу їжу та корисну.
		.tab-wrapper
			ul.tab-menu.grid
				li.active Про дієту
				li Ресурси
				li Дивитись відео
			.tab-content
				.tab-text
					p Ми можемо навіть не усвідомлювати, що спосіб нашого харчування може бути причиною не лише поганого самопочуття, а і деяких вірусів та серйозних захворювань. З іншого боку, споживання здорових продуктів може стати нашою найсильнішою зброєю у боротьбі навіть з такою хворобою, як грип. Здоров'я нашого шлунково-кишкового тракту також визначає, наскільки добре функціонує наша імунна система. У цьому розділі ви дізнаєтеся про таке:
					ul
						li Які продукти спричиняють хвороби?
						li Як захистити себе та своїх близьких від застуди та грипу?
						li Як переконатися, що наші імунні клітини у шлунково-кишковому тракті працюють належним чином?
				.tab-text
					ul.resources
						//- a(href="#!")
							li Dr. Tina Waters Biography
						//- a(href="#!")
						//- 	li Як правильний піст покращує наше здоров’я
						a(href="download/Diet_дієта.pdf" target="_blank")
							li.image
								.img
									img(src="img/get-free-fact-sheet_02.png", alt="")
								span
									=sub

				.tab-text.tab-video
					.video
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/FWdhRfwjrDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					include _sub
