section#exercise
	.wrap
		.headline.gird
			h1 <strong>фізичні вправи</strong>
			p Якщо ви проводите більшу частину свого життя, сидячи на своєму робочому місці в офісі, ви самі наражаєте себе на небезпеку підхопити застуду в непростий холодний сезон. Усе тому, що ваше тіло вимагає руху, щоб ваша імунна система працювала належним чином. Фізичні вправи зміцнюють здатність вашого організму протистояти нападам нездорових бактерій та вірусів.
		.tab-wrapper
			ul.tab-menu.grid
				li.active Про фізичні вправи
				li Resources
				li Watch Video
			.tab-content
				.tab-text
					p Фізичні навантаження для вашого тіла запускають механізм, який активуює антитіла, що борються з хворобами. Існує безліч варіантів фізичних вправ для підвищення вашого рівня фізичної підготовки, навіть якщо ви боретеся з болями в суглобах чи ожирінням. Доброю новиною є те, що вам не потрібно аж надто сильно вправлятись. Є багато способів включити рух у свій робочий день, навіть якщо у вас є робота в офісі! У цьому розділі ви дізнаєтеся:
					ul
						li Як сидячий спосіб життя робить вас більш схильними до хвороби?
						li Які є види вправ і наскільки кожен з них зміцнює вашу імунну систему?
						li Як включити фізичну активність у свій робочий день?
				.tab-text
					ul.resources
						//- a(href="#!")
						//- 	li Dr. Tina Waters Biography
						//- a(href="#!")
						//- 	li Visit the Cleveland Clinic Website
						a(href="#!")
							li.image
								.img
									img(src="img/get-free-fact-sheet_02.png", alt="")
								=sub

				include _sub


