section#extras
	.wrap
		.headline.gird
			h1 <strong>Web Extras</strong>
			p Videos from the health experts featured on the "Protect Your Health!" DVD
		.tab-wrapper
			.videoblock-active
				img(src="https://dummyimage.com/1050x600.jpg&text=1", alt="")
				img(src="https://dummyimage.com/1050x600.jpg&text=2", alt="")
				img(src="https://dummyimage.com/1050x600.jpg&text=3", alt="")
				img(src="https://dummyimage.com/1050x600.jpg&text=4", alt="")
				img(src="https://dummyimage.com/1050x600.jpg&text=5", alt="")
				img(src="https://dummyimage.com/1050x600.jpg&text=6", alt="")

			.videoblock
				.imgvideoblock
					img(src="https://dummyimage.com/260x140.jpg", alt="")
					.label
						span Video 1
				.imgvideoblock
					img(src="https://dummyimage.com/260x140.jpg", alt="")
					.label
						span Video 1
				.imgvideoblock
					img(src="https://dummyimage.com/260x140.jpg", alt="")
					.label
						span Video 1
				.imgvideoblock
					img(src="https://dummyimage.com/260x140.jpg", alt="")
					.label
						span Video 1
				.imgvideoblock
					img(src="https://dummyimage.com/260x140.jpg", alt="")
					.label
						span Video 1
				.imgvideoblock
					img(src="https://dummyimage.com/260x140.jpg", alt="")
					.label
						span Video 1