footer#footer
	.wrap
		.headerbutton.grid
						.btnone.btn
							a(href="#!") Get Your Free DVD
						.btntwo.btn
							a(href="#!") Watch Online Now
		.logo
				img(src="img/CBN_Logo.png", alt="")
		.links
			.know.box
				span Know Jesus
				.img
					img(src="img/know-jesus-icon.png", alt="")
			.desc.box
				span Discipleship
				.img
					img(src="img/discipleship-icon.png", alt="")
			.get.box
				span Get Prayer
				.img
					img(src="img/get-prayer-icon.png", alt="")
			.give.box
				span Give to CBN
				.img
					img(src="img/give-to-cbn-icon.png", alt="")
		.copiright
			span © 2016 The Christian Broadcasting Network, Inc., A Nonprofit 501 (c)(3) Charitable Organization
<!--build:js js/main.min.js-->
<!--bower:js-->
<script src="wendor/jquery/dist/jquery.js"></script>
<script src="wendor/all4site-jqueryui/jquery-ui.js"></script>
<!--endbower-->
script(src="js/main.js")
<!--endbuild-->