footer#footer.footer_video
	.wrap
		.logo
			a(href="http://emmanuil.tv" target="_blank")
				img(src="img/CBN_UK_Logo.png", alt="")
		.email
			a(href="mailto:")
				span email: health@cbn-cis.org
		.links
			.get.box
				a(href="https://emmanuil.tv/liniya-doveriya-dobroe-slovo/" target="_blank")
					span Молитовна пiдтримка
					.img
						img(src="img/get-prayer-icon.png", alt="")

			.give.box
				a(href="https://donate.emmanuil.tv/emmanuil" target="blank")
					span Стати партнером
					.img
						img(src="img/give-to-cbn-icon.png", alt="")
		//- .copiright
		//- 	span © 2016 The Christian Broadcasting Network, Inc., A Nonprofit 501 (c)(3) Charitable Organization
<!--build:js js/main.min.js-->
<!--bower:js-->
<script src="wendor/jquery/dist/jquery.js"></script>
<script src="wendor/all4site-jqueryui/jquery-ui.js"></script>
<script src="wendor/mediaelement/build/mediaelement-and-player.js"></script>

<!--endbower-->
<!--endbuild-->
<script src="js/main.js"></script>