section#headerbaner
	.wrap
		.header.grid
			.headertext.grid
				.img
					img(src="img/protect-your-heath-banner.png", alt="")
				.text
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam assumenda perferendis asperiores architecto quia sequi consectetur, rerum, beatae laudantium alias id tempora neque? Laborum vero voluptatem amet fuga iusto repellat illo inventore labore.
					.headersmallmenu.grid
						ul
							a(href="#!")
								li Sleep
							a(href="#!")
								li Diet
							a(href="#!")
								li Supplements
							a(href="#!")
								li Stress
							a(href="#!")
								li Exercise
						.textimg
							img(src="img/protect-your-health-dvd-image.png", alt="")
			.headervideo.grid
				.video
					img(src="https://dummyimage.com/750x420.png", alt="")
			.headerbutton.grid
				.btnone.btn
					a(href="#!") Get Your Free DVD
				.btntwo.btn
					a(href="#!") Watch Online Now