header#headermenu
	.wrap
		.headermenu.grid
			.logo
				img(src="img/CBN_Logo.png", alt="")
			nav.navbar
				ul.grid
					a(href="#!")
						li.active Free DVD
					a(href="#!")
						li Sleep
					a(href="#!")
						li Diet
					a(href="#!")
						li Supplements
					a(href="#!")
						li Stress
					a(href="#!")
						li Exersise
					a(href="#!")
						li Extras