section#sleep
	.wrap
		.headline.gird
			h1 <strong>сон</strong>
			p Якщо ви не можете сказати «ні» черговому нічному шоу по телевізору або знаходите сотні причин ще раз зайти у соцмережі чи почитати новини перед сном, то вірогідність захворіти цією зимою збільшується в рази. Усе тому, що наша імунна система напряму залежить від сну.
		.tab-wrapper
			ul.tab-menu.grid
				li.active Про сон
				li Ресурси
				li Дивитись відео
			.tab-content
				.tab-text
					p Якщо вам не вистачає сну, вас набагато частіше атакуватимуть віруси та бактерії, аніж того, хто спить достатньо. Ваше тіло потребує глибокого, відновлюючого сну, аби оновитися і зміцнити себе, аби краще боротися з хворобами та мікробами. Є багато корисних практичних порад, як збільшити час та покращити якість вашого сну. У цьому розділі ви дізнаєтеся про таке:

					ul
						li Як те, що ми їмо і п’ємо, може ускладнити наш сон?
						li Які наші, здавалося б, нормальні звички перешкоджають здоровому сну?
						li Які є проблеми сну, котрі стосуються навіть не тисяч, а мільйонів необізнаних людей?
				.tab-text
					ul.resources
						//- a(href="#!")
						//- 	li Dr. Tina Waters Biography
						//- a(href="#!")
						//- 	li Visit the Cleveland Clinic Website
						a(href="#!")
							li.image
								.img
									img(src="img/get-free-fact-sheet_02.png", alt="")
								span
									=sub

				include _sub


