section#stress
	.wrap
		.headline.gird
			h1 <strong>стрес</strong>
			p Проблеми на роботі, великі рахунки за комунальні послуги, важка дорога додому та затори на дорозі.. Якщо ви не слідкуватимете, то ваша реакція на все це може похитнути ваше здоров’я. Негативні думки та почуття мають руйнівний вплив на здатність вашого організму боротися з хворобами. Але ви можете навчитися правильно справлятися зі стресом.
		.tab-wrapper
			ul.tab-menu.grid
				li.active Про стрес
				li Ресурси
				li Дивитись відео
			.tab-content
				.tab-text
					p Наше емоційне здоров'я тісно пов'язане з нашим фізичним здоров'ям. Коли ви перебуваєте у стресі, ваша імунна система значно ослаблюється, і менше схильна захищати вас від патогенів та вірусів. Ви можете бути здивовані, дізнавшись, які види почуттів найбільш стресові. Стрес виснажує ресурси вашого тіла. Тому ваша імунна система не може працювати належним чином. У цьому розділі ви дізнаєтеся:
					ul
						li Чому стрес відкриває двері до хвороби?
						li Які емоції викликають стрес?
						li Як ефективно боротися зі стресом у своєму житті?
				.tab-text
					ul.resources
						//- a(href="#!")
						//- 	li Dr. Tina Waters Biography
						//- a(href="#!")
						//- 	li Visit the Cleveland Clinic Website
						a(href="download/Stress_Стрес.pdf" target="_blank")
							li.image
								.img
									img(src="img/get-free-fact-sheet_02.png", alt="")
								span
									=sub
				.tab-text.tab-video
					.video
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/lPJkr2ozGiM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					include _sub


