section#supplements
	.wrap
		.headline.gird
			h1 <strong>Вітаміни та БАДи</strong>
			p Швидше за все, ви не отримуєте усіх важливих поживних речовин, необхідних для підтримки сильної імунної системи. Наш спосіб життя та харчування не дають достатньої кількості вітамінів та мінералів нашому організму. Як наслідок – нестача сил для боротьби з бактеріями та вірусами.
		.tab-wrapper
			ul.tab-menu.grid
				li.active Про вітаміни
				li Ресурси
				li Дивитись відео
			.tab-content
				.tab-text
					p Більшість людей купують вітаміни, яких, як нам здається, недостатньо нашому організму. З усіх екранів лунають обіцянки і важко розібратися, що все-таки є найкращим варіантом для нашої родини. Крім того, легко заплутатись, обираючи ту марку, якій можна довіряти. Цей розділ допоможе вам зрозуміти, які вітаміни найбільш корисні для зміцнення вашої імунної системи. Ви з’ясуєте:
					ul
						li Чому дієта та спосіб життя не забезпечують необхідних поживних речовин?
						li Які вітаміни допомагають запобігти застуді та грипу?
						li Як обрати правильну марку вітамінів?
				.tab-text
					ul.resources
						//- a(href="#!")
						//- 	li Dr. Tina Waters Biography
						//- a(href="#!")
						//- 	li Visit the Cleveland Clinic Website
						a(href="#!")
							li.image
								.img
									img(src="img/get-free-fact-sheet_02.png", alt="")
								=sub

				include _sub


